// backgrounds
$ui-img: url('/assets/img/ui.png');
$bg: url('/assets/img/main_bg.jpg');
$bg-main: url('/assets/img/bg-sky.jpg');
$bg-header: url('/assets/img/header-bg.png');
$bg-transp: url('/assets/img/bg-transp.png');

// fonts
$font-family-base: "Open Sans Regular";
$font-family-extra: "Cuprum Regular";
$font-family-bold: "Cuprum Bold";
$font-family-thin: "Roboto Thin";

// font size
$font-size-base: 14px;
// font-colors
$font-color-base: rgba(255, 255, 255, 0.5);

// colors
$link-color: #333399;

$white: #FFF;
$black: #000;
$light-violet: #949cd7;

// grid
$low-tide: 951px;
$middle-tide: 769px;
$semi-tide: 641px;
$high-tide: 415px;
$ultra-tide: 321px;